app/xsd/tests/reqif/dtc-11-04-05 reduced.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:REQIF="http://www.omg.org/spec/ReqIF/20110401/reqif.xsd"
    xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.omg.org/spec/ReqIF/20110401/reqif.xsd">
    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="http://www.w3.org/2001/xml.xsd" />
    <xsd:import namespace="http://www.w3.org/1999/xhtml"
        schemaLocation="http://www.omg.org/spec/ReqIF/20110402/driver.xsd" />

    <xsd:complexType name="ATTRIBUTE-DEFINITION-BOOLEAN">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" name="TYPE">
                <xsd:complexType>
                    <xsd:choice maxOccurs="1" minOccurs="1">
                        <xsd:element name="DATATYPE-DEFINITION-BOOLEAN-REF" type="xsd:string" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
</xsd:schema>